@font-face {
  font-family: 'Akkurat-Mono';
  src: url('../fonts/AkkuratMono.eot'); /* IE9 Compat Modes */
  src: url('../fonts/AkkuratMono.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/AkkuratMono.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/AkkuratMono.woff2') format('woff2'), /* Pretty Modern Browsers */
       url('../fonts/AkkuratMono.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/AkkuratMono.svg')  format('svg')
}

@font-face {
  font-family: 'Akkurat Pro';
  src: url('../fonts/AkkBd_Pro_1.eot'); /* IE9 Compat Modes */
  src: url('../fonts/AkkBd_Pro_1.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/AkkBd_Pro_1.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/AkkBd_Pro_1.woff2') format('woff2'), /* Pretty Modern Browsers */
       url('../fonts/AkkBd_Pro_1.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/AkkBd_Pro_1.svg')  format('svg')
}

@font-face {
  font-family: 'Akkurat Pro It';
  src: url('../fonts/AkkBdIt_Pro_1.eot'); /* IE9 Compat Modes */
  src: url('../fonts/AkkBdIt_Pro_1.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/AkkBdIt_Pro_1.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/AkkBdIt_Pro_1.woff2') format('woff2'), /* Pretty Modern Browsers */
       url('../fonts/AkkBdIt_Pro_1.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/AkkBdIt_Pro_1.svg')  format('svg')
}