$icons: (
	sprite: (width: 2004px, height: 1460px, pngPath: '../images/sprite.png', svgPath: '../images/sprite.svg'),
		PAC: (width: 250px, height: 250px, backgroundX: 0px, backgroundY: 0px),
		PAC-Close-Arrow: (width: 27px, height: 27.3px, backgroundX: -250px, backgroundY: -250px),
		PAC-Head: (width: 220.342px, height: 218.985px, backgroundX: -277px, backgroundY: -278px),
		PAC-Head-A: (width: 235.18px, height: 233.733px, backgroundX: -498px, backgroundY: -497px),
		PAC-Head-B: (width: 215.75px, height: 214.424px, backgroundX: -734px, backgroundY: -731px),
		PAC-scroll: (width: 228.24px, height: 50.12px, backgroundX: -950px, backgroundY: -946px),
		PAC-scroll-left: (width: 118.89px, height: 51.589px, backgroundX: -1179px, backgroundY: -997px),
		PAC-scroll-left-tab: (width: 110.7px, height: 48.039px, backgroundX: -1298px, backgroundY: -1049px),
		PAC-scroll-right: (width: 30.5px, height: 37.831px, backgroundX: -1409px, backgroundY: -1098px),
		PAC-scroll-right-tab: (width: 27.881px, height: 35.9px, backgroundX: -1440px, backgroundY: -1136px),
		next-bg: (width: 268px, height: 268px, backgroundX: -1468px, backgroundY: -1172px),
		prev-bg: (width: 268px, height: 20px, backgroundX: -1736px, backgroundY: -1440px),
);