//I am a css
@import "resets/reset";
@import "resets/normalise";
@import "resets/mq";
@import "fonts";
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "sprite";

$ieSprite: '.lt-ie9' !default;
$sprite: map-get($icons, sprite) !default;
$baseFontSize: 16px !default;

@import "resets/mixins";

//Media queries based on Bootsrap settings

/* Mobile */
@import "layout/mobile";

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	@import "layout/mobile-lg";
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	@import "layout/tablet-port";
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	@import "layout/tablet-land";
}

@media only screen and (min-width: 1025px) {

	.home-section {
		.slick-arrow {
			position: absolute;
			top: 0;
			bottom: 0;
			z-index: 1;
			display: inline-block !important;
			&.slick-prev, &.slick-next {
				width: 50%;
				height: 100%;
				opacity: 0;
				background-color: transparent;
				@include transition(all, 0.2s);
				border: none;
				&:hover {
					background-color: $brand-primary;
					opacity: 1;
				}
			}
			&.slick-prev {
				left: 0;
			}
			&.slick-next {
				right: 0;
			}
		}
		.next-div, .prev-div {
			display: block;
		}
	}

	.pagination {
		.thumbnail-con {
			.hover {
				display: none;
			}
			a {
				img {
					opacity: 0.8;
					@include transition(all, 0.25s);
				}
			}
			a:hover {
				.title {
					opacity: 0;
				}
				img {
					filter: grayscale(0%);
					opacity: 1;
				}
			}

			.title {
				@include transition(opacity, 0.25s);
				opacity: 1;
			}
		}
	}

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	@import "layout/desktop";
}

@media only screen and(min-width : 1500px) {
	.our-story {
		.story-image {
			margin: -10% 0 8%;
		}
	}
}