
.wrapper {
	padding: 115px 158px;
}

.copy-con{
	&.wrapper {
		padding: 40px 158px;
	}
}

.section-div {
	height: 10px;
}

.nav {
	&.desktop.open {
		padding: 40px 158px;
		height: 105px;
		position: fixed;
		opacity: 1 !important;
	}
}

.header {
	.md-device-line {
		margin-top: 160px;
	}
	.line-con {

		&.float {
			position: fixed;
			top: 105px;
			margin: 0;
			left: 0;
			padding: 0 158px;
			z-index: $zindex-navbar;
			width: 100%;
			.md-device-line {
				margin-top: 0;
			}
		}
	}
	.tab-link {
		display: none;
	}
	.home-link {
		right: 261.5px;
		top: 31px;
		display: block;
		position: absolute;
		opacity: 0;
		&.active {
			opacity: 1;
		}
	}
	.home-right {
		position: relative;
		right: -175.5px;
		top: 11px;
		@include transition(all, 0.5s);
		opacity: 1;
		&.active {
			opacity: 0;
		}
	}
	.hide-1 {
		height: 130px;
	}
	.hide-2 {
		height: 105px;
	}
}

.head {
	.ph-logo {
		margin-top: 4px;
		margin-bottom: 170px;
		display: block;
	}
	.ph-logo-mob {
		display: none;
	}
	.logo-line {
		position: absolute;
		bottom: 0;
	}
	#lineSmall.float {
		width: 206.5px;
		top: 105px;
	}
}

.home-section {
	.h2-1, .h2-2, .h2-3 {
		font-size: 6.8rem;
	}
	.hero-gallery {
		left: -160px;
		width: 92%;
	}
	.hero {
		padding: 0;
	}

	.h2-2 {
		right: 6.4px;
	}

	.h2-3Con {
		width: 92%;
		margin-left: -158px;
	}

	.sub-text.active {
		padding: 30px 0 30px 158px;
		margin-left: -158px;
		width: 91.85%;
	}
}



//Fixed nav
.page--float {
	position: absolute;
	display: block;
	z-index: $zindex-navbar;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	text-align: center;
	.rotate-con {
		position: absolute;
		top: 50%;
		width: 158px;
		p {
			font-size: 1.6rem;
			padding: 0;
			margin: 0;
			transform: rotate(-90deg);
			width: 100%;
		}
	}
	a {
		cursor: pointer;
	}
	.page-prev, .page-next {
		height: 100%;
		width: 158px;
		@include transition(all, 0.3s);
		&:hover {
			background-color: $brand-primary;
			p {
				color: $brand-secondary;
			}
		}
	}
	.page-prev {
		float: left;
		margin-left: -158px;
	}
	.page-next {
		float: right;
		margin-right: -158px;
	}
}

.pagination {
	h3 {
		margin: 65px 0 37px;
	}


}

#our-story {
	margin-bottom: 145px;
	.story-inside {
		p {
			line-height: 1.95;
		}
	}
	.col-1 {
		min-height: 450px;
	}
}

.contact {

	.contact-image {
		right: -158px;
	}
	.col-1-address {
		p {
			width: 250px;
		}
	}
	.col-2-address, .col-2-contact {
		margin-left: 8px;
	}

}

#maps-container {
	height: 500px;
}