//skiplink for screen readers

#skip a
{ 
	position:absolute; 
	left:-10000px; 
	top:auto; 
	width:1px; 
	height:1px; 
	overflow:hidden;
 
	&:focus 
	{ 
		position:static; 
		width:auto; 
		height:auto; 
	}
}

button:focus {
    outline: none;
}

::selection { 
	background: $brand-primary;
	color: $brand-secondary;
}

html {
	-webkit-font-smoothing: subpixel-antialiased;
	&.right {
		overflow-y: hidden;
	}
}

html, body {
	max-width: 100%;
	overflow-x: hidden;

}

body {
	position: relative;
	height: 100%;
}

//Global

img {
	width: 100%;
	height: auto;
}

.contact-image , .story-image {
	display: none;
}

.wrapper {
	position: relative;
	padding: 24px 19px 0;
	@include transition(transform, 0.5s);
}

.wrapper.right {
	transform: translateX(20%);
}

section {
	width: 100%;

	padding: 0 !important;
	a, p {
		color: $gray-base;
	}
}

footer, section {
	display: inline-block;
}

.client-con, .contact, .our-story {
	margin-bottom: 57px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Akkurat Pro";
}

h2 {
	font-size: 2.3rem;
}

h3 {
	margin-bottom: 36px;
	font-size: 2.2rem;
}

p {
	line-height: 1.75;
}

//Section Glob
.section-div {
	background: $brand-primary;
	width: 62px;
	height: 7.5px;
}


//Header

.header {
	position: relative;
	width: 100%;
	display: inline-block;

	.md-device-line {
		display: none;
	}

	.home-link {
		@include sprite(PAC-scroll-left);
		display: none;
	}
	.home-right {
		@include sprite(PAC-scroll-right);
	}
	.tab-link {
		@include sprite(PAC-scroll-left-tab);
		display: none;
	}
	.tab-right {
		@include sprite(PAC-scroll-right-tab);
	}
}

.menu-mobile {
	@include transition(margin-top, 0.5s);
	height: 84px;

	position: fixed;
	z-index: $zindex-navbar-fixed;
	top: 0;
	right: 0;
	left: 0;
	background: RGBA(19, 8, 154, 0.85);
	&.off {
		margin-top: -100%;
	}
	.menu-icon {
		padding: 26px 20px;

		position: relative;
	}
	.burger-menu {
		width: 39px;
		height: 3px;

		margin: 3px 0;
		z-index: 1;
		float: left;
		clear: left;
		background: $brand-secondary;
	}
	.logo-sm {
		width: 90px;

		margin-right: 15px;
		a {
			display: inline-block;
		}
		p {
			margin-top: 22px;

			font-family: "Akkurat Pro"; 
			color: $brand-secondary;
			font-size: 12px;
			line-height: 1.1;
			letter-spacing: 1.4px;
		}
	}
}

.nav {
	@include transition(margin-left, 0.5s);
	width: 200px;

	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;


	background: $brand-primary;
	z-index: $zindex-navbar-fixed;

	&.off {
		margin-left: -100%;
	}

	&.mobile {
		display: block;
	}

	&.desktop {
		display: none;
	}

	.mobile-close {
		position: absolute;
		right: 22px;
		top: 20px;
		@include sprite(PAC-Close-Arrow);
	}

	ul {
		margin: 84px 0 10px 41px;

		li {
			padding: 28px 0;

			position: relative;
			a {
				color: $brand-secondary;
				font-size: 1.6rem;

				font-family: "Akkurat Pro";
			}
		}
	}
	&.open {
		margin-left: 0;
	}
	.nav-active, .nav-first {
		width: 21px;
		height: 2px;

		position: absolute;

		background-color: $brand-secondary;
	}
	.nav-active {
		bottom: 0;
	}
	.nav-first {
		top: 84px;
		left: 41px;
	}
}

.head {
	position: relative;

	.ph-logo {
		@include sprite(PAC-Head-A);
		display: none;
	}
	.ph-logo-mob {
		@include sprite(PAC-Head-B);
		display: block;
		margin-bottom: 123px;
	}
	.logo-line {
		height: 7.5px;
		width: 100%;
		background: $brand-primary;
	}
}

//Home Page
.home-section {
	margin-bottom: 24px;
	position: relative;

	.hero-gallery {
		padding: 0;
		overflow: hidden;
		z-index: 1000;
		.hero {	
			padding: 0 1.5px;
		}
	}
	.slick-arrow {
		display: none !important;
	}
	.next-div {
		@include sprite(next-bg);
		background-repeat: no-repeat;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -118px;
		margin-left: -118px;
		opacity: 1;
		z-index: 200;
		display: none;
	}
	.prev-div {
		@include sprite(prev-bg);
		background-repeat: no-repeat;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -13px;
		margin-left: -118px;
		opacity: 1;
		z-index: 200;
		display: none;
	}
	.icon-con {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
	}

	.h2-con {
		position: relative;
		z-index: 100;
		img {
			display: none;
		}
	}

	.h2-1 {
		text-align: right;
	}
	.h2-2 {

		float: right;

	}
	.h2-3 {

		float: left;
		clear: right;
	}
	@media only screen and (max-width: 768px) {
		.h2-1 {
			margin: 17px 60px 23px 0 !important;
		}
		.h2-2 {
			margin: 19px -1px 25px 0 !important;
		}
		.h2-3 {
			margin: 4px 2px 25px 0 !important;
		}

	}
	.rec-light {
		width: 100%;
		height: 50px;

		position: relative;
		top: -66px;

		background-color: $brand-secondary;
		float: right;
		z-index: -2;
	}
	.sub-text {
		float: left;
		clear: left;
		display: none;
		p {
			margin-right: 0;
		}
	}
	p {
		margin-right: 3px;
		width: 33%;
		font-size: 1.2rem;
		float: left;
		&:last-child {
			width: 1px;
		}
	}

	.ph-tll {
		height: 120px;
		width: 120px;

		margin-top: -12px;
	}
	.tree-con {
		display: none;
	}

}

.page--float {
	display: none;
}

.image-contact-mob {
	display: block;
	width: 119%;
	margin: 4% 0 10% -12.8%;
	img {
		display: block;
	}
}

//project page
.case-study {
	margin-top: 20px;
	.case-title {
		float: right;
		position: relative;
		margin-top: 30px;
		margin-bottom: 60px;
		width: 185px;
		font-family: 'Akkurat Pro';
		p {
			margin: 0;
			color: $brand-primary;
			line-height: 1.2;
		}
	}
	.img-nav-con {
		width: 100%;
		display: inline-block;
	}
	.half-title {
		display: none;
	}
	.mob-title {
		display: block;
	}
	.client-case {
		padding: 80px 0;
		.quote {
			color: $brand-primary;
			font-size: 1.6rem;
		}
		.client {
			font-size: 1.2rem;
		}
	}
	.img-nav-con {
		position: relative;
	}
	.item {
		position: relative;
		p {
			margin: 20px 0 20px;
			font-size: 1.1rem;
		}
	}
	.case-study-info, .title, .contrib, .case-about {
		padding: 0;
	}
	.case-study-info {
		.title {
			margin-bottom: 36px;
		}
		.section-div {
			margin-bottom: 20px;
		}
		h2 {
			margin: 0;
			line-height: 1.1;
		}
		.contrib {
			display: none;
			margin-bottom: 36px;
			p {
				font-size: 1rem;
				margin-bottom: 7px;
			}
			a {
				color: $brand-primary;
				@include transition(color, 0.25s);
				&:hover {
					color: $gray-base;
				}
			}
		}
		.contrib-mob {
			display: block;
			margin: 36px 0;
			p {
				font-size: 1rem;
				margin-bottom: 7px;
			}
			a {
				color: $brand-primary;
				&:hover {
					color: $gray-base;
				}
			}
		}
		.case-about {
			font-size: 1.4rem;
			margin-bottom: 67px;
		}
	}
}
.pagination {
	margin-bottom: 38px;

	h3, .pag-div {
		display: inline-block;
	}
	h3 {
		margin-bottom: 13px;
	}

	.pag {
		margin-right: 3px;
	}

	.active {
		color: $gray-base;
		.pag-div {
			background-color: $gray-base;
		}
	}

	.thumbnail-con {
		a {
			width: 100%;
			margin-top: 20px;

			position: relative;
			display: inline-block;
			background-color: $brand-primary;

			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			img {
				filter: grayscale(100%);
			}
			&.active img {
				opacity: 0.25;
			}
			&:last-of-type {
				margin-bottom: 20px;
			}
		}
		.title {
			position: absolute;
			top: 15px;
			left: 15px;
			color: white;
			font-family: "Akkurat Pro";
			line-height: 1.2;
		}
		.visited {
			img {
				opacity: 0.25;
			}
			.hover {
				display: block;
			}
			&:hover {
				.title {
					opacity: 1;
				}
				img {
					filter: grayscale(100%);
					opacity: 0.25;
				}
			}
			.hover {
				opacity: 1;
			}
		}
	}

	.page-con {
		width: 100%;
		height: 40px;
		padding: 0;

		&:nth-of-type(2) {
			margin-top: 15px;
		}
		.prev, .next {
			height: 100%;
			width: 50%;

			padding: 0;
			margin: 0;

			background-color: $brand-secondary;
			font-family: "Akkurat Pro";

			p {
				width: 100%;
				height: 100%;

				margin-bottom: 0;

				letter-spacing: 0px;
				color: $brand-secondary;
				background-color: $brand-primary;
				font-size: 1.2rem;
			}
		}
		.prev {
			padding-right: 10px;
			p {
				padding: 11px 0 0px 15px;
			}
		}
		.next {
			padding-left: 10px;
			text-align: right;

			p {
				padding: 11px 15px 0px 0;
				float: right;
			}
		}
	}
	.pager-mob-hide {
		display: none;
	}
}

.client-con {
	margin-bottom: 57px;

	.quote {
		color:  $brand-primary;
		letter-spacing: 0.4px;
		margin-bottom: 14px;
		font-family: "Akkurat Pro";
	}
	.client {
		color: $gray-base;
		font-size: 1rem;
		letter-spacing: -0.5px;
	}
}

//Our Story 

.our-story {
	.dynamic {
		display: none;
	}
	.story-inside {
		padding: 0;
		&:nth-child(2n+1) {
			position: absolute;
			opacity: 0;
		}
		&.show {
			@include transition(all, 0.25s);
			position: relative;
			opacity: 1;
		}
	}
	.more, .less {
		font-size: 1.2rem;
		color: $brand-primary;
		z-index: $zindex-navbar;
		position: relative;
	}
	.less {
		display: none;
	}
}

//Contact Section
.contact {
	a {
		font-size: 1.6rem;
		@include transition(color, 0.25s);
		color: $brand-primary;
		&:hover {
			color: $gray-base;
		}
	}
	.contact-image {
		display: none;
	}
	.col-1-contact, .col-2-contact, .col-1-address, .col-2-address {
		padding: 0;
		display: inline-block;
		float: left;
		clear: left;
		p {
			margin: 0;
			line-height: 1.75;
		}
		a {
			line-height: 1.5;
		}
	}
	.col-2-contact, .col-1-address, .col-2-address {
		margin-bottom: 15px;
	}
	.col-1-address p {
		width: 300px;
	}
	.col-2-address {
		margin-bottom: 0;
		p {
			width: 200px;
		}
	}

}

#maps-container {
	@include transition(all, 0.5s);
	height: 250px;
	width: 100%;
	z-index: 10;
	&.right {
		transform: translateX(20%) !important;
	}
}

.road-view {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	@include transition(all, 0.5s);
	.cover-image {
		@include cover(0px, $brand-primary);
		position: absolute;
	}
	img {
		@include transition(all, 0.5s);
		opacity: 0.2;
		margin-top: -27.2%;
		margin-bottom: -21.3%;
	}
	&:hover {
		cursor: pointer;
		img {
			opacity: 1;
		}
	}
	&.active {
		img {
			position: relative;
			opacity: 1;
			margin: 0;
		}
	}
}

.copy-con {
	width: 100%;
	height: 170px;

	display: inline-block;
	background: $brand-primary;
	color: $brand-secondary;

	p {
		font-size: 1rem;
		span {
			font-size: 1.5rem;
			vertical-align: middle;
		}
	}
}