
.wrapper {
	padding: 38px 20px;
}

.top {
	margin-top: -100% !important;
}

h1, h2 {
	font-size: 6rem;

	letter-spacing: -2px;
}

h3, h4, h5, h6 {
	font-size: 5rem;
	letter-spacing: -1.7px;
	margin: 65px 0px;
}

.section-div {
	height: 9.5px;
	width: 110px;
}

.header {
	.md-device-line {
		height: 10px;
		width: 65%;

		margin-top: 150px;

		background-color: $brand-primary;
		display: block;
		z-index: 2; 
	}
	.hide-1 {
		position: absolute;
		width: 363px;
		height: 110px;
		top: 40px;

		background-color: $brand-secondary;

		z-index: -1;
	}
	.hide-2 {
		position: fixed;
		background-color: $brand-secondary;
		height: 105px;
		width: 220px;
		top: 0;
		margin-left: -10px;
		opacity: 1;
		z-index: -1;
		&.clear {
			opacity: 0;
		}
	}
	.line-con {

		&.float {
			position: fixed;
			top: 105px;
			margin: 0;
			left: 0;
			padding: 0 20px;
			z-index: $zindex-navbar;
			width: 100%;
			.md-device-line {
				margin-top: 0;
			}
		}
	}

	.tab-link {
		display: block;
		position: absolute;
		top: 30px;
		right: 118px;

		opacity: 0;
		&.active {
			opacity: 1;
		}
	}
	.tab-right {
		@include transition(opacity, 0.5s);
		position: relative;
		right: -163px;
		top: 12px;

		opacity: 1;
		&.active {
			opacity: 0;
		}
	}
}

.menu-mobile {
	display: none;
}

.nav {
	width: 100%;

	position: relative;

	margin-left: 0;

	background: $brand-secondary;

	&.off {
		margin-left: 0;
	}
	&.mobile {
		display: none;
	}
	&.desktop {
		display: block;
	}
	.mobile-close, .nav-active, .nav-first {
		display: none;
	}
	&.open {
		background-color: rgba(238, 249, 254, 0.8);
		position: fixed;
		padding: 40px 20px;
		height: 105px;
		opacity: 1;
	}

	ul {
		margin: 0;
		li {
			padding: 0;
			position: relative;
			float: left;
			width: 26.04%;
			&:last-child {
				margin-right: 0;
				width: 0;
			}
			a {
				@include transition(all, 0.1s);
				color: $brand-primary;
				letter-spacing: -0.3px;
				width: 100%;
				&:hover {
					color: $gray-base;
				}
				&.strike {
					background-color: $gray-base;
					padding:2px 20px 2px 0;
				}
			}
		}
	}
}

.head {
	z-index: $zindex-navbar;

	.ph-logo-mob {
		margin-top: 4px;
		margin-bottom: 145px;
	}
	.logo-line {
		height: 10px;
		position: absolute;
		bottom: 0;
		&.float {
			position: fixed;
			width: 184px;
			top: 105px;
			margin-top: 0;
			z-index: $zindex-navbar;
		}
	}
	#lineSmall.float {
		position: fixed;
		width: 184px;
		height: 10px;
		top: 105px;
		margin-top: 0;
		width: 189.6px;
		z-index: $zindex-navbar;
	}
}

main {
	position: relative;
}


//Home
.home-section {

	top: -15px;
	margin-bottom: 33px;
	.h2-con {
		width: 100%;
		height: 100%;
		position: initial;

		display: inline-block;
		z-index: 0;
		img {
			display: block;
			opacity: 0;
		}
	}

	.h2-1, .h2-2, .h2-3 {
		margin: 0;
		z-index: -2;
	}
	@media only screen and (max-width: 1024px) {
		.h2-1, .h2-2, .h2-3 {
			margin-top: 0 !important;
		}
	}
	.h2-1 {
		position: absolute;

		top: -111px;
	}

	.h2-2 {
		position: absolute;
		right: 4.2px;
		top: 17.3%;
	}

	.h2-3Con {
		position: absolute;
		width: 76%;
		margin-left: -20px;
		bottom: 24.5%;
		.h2-3 {
			float: right;
			z-index: 100;
		}
	}
	.rec-light {
		height: 120px;
	}
	.hero-gallery {
		position: relative;
		left: -22px;
		width: 76%;
		z-index: 1;
	}
	.sub-text {
		width: 75.6%;
		padding: 0;
		margin-left: -20px;
		display: none;
		&.active {
			display: block;
			padding: 20px 0 20px 40px;
		}
	}
	p {
		margin: 0;
	}

	.ph-tll {
		display: none;
	}

	.tree-con {
		display: block;
		position: absolute;
		width: 100%;
		bottom: 0;
		top: 0;
		z-index: -1;
		.tree-trans {
			@include transition(opacity, 0.5s);
			position: absolute;
			width: 20%;
			&.hide-tree {
				opacity: 0;
			}
		}

		.tree1 {
			width: 31.9%;
			left: -4.5%;
			bottom: 14.8%;
		}
		.tree2 {
			left: 11.5%;
			width: 23%;
			bottom: 6.5%;
		}
		.tree3 {
			right: -13.1%;
			bottom: 15.2%;
			width: 29.7%;
		}
		.tree4 {
			bottom: 7.2%;
			width: 28.8%;
			right: -2.8%;
		}
		.tree5 {
			width: 21.5%;
			bottom: -1.8%;
			right: -12.3%;
		}
		.tree6 {
			width: 19%;
			bottom: -11%;
			right: 2.2%;
		}
	}

}

.chromeperfectpixel-overlay {
	width: 100% !important;
}
//Case Study
.case-study {
	margin-top: 0;
	.case-title {
		top: -23px;
		float: left;
		width: 100%;
		margin-top: 0;
		font-family: 'Akkurat-Mono';
		p {
			color: $gray-base;
			word-spacing: normal;
			width: 26.04%;
			float: left;
			margin: 0;
		}
	}
	.half-con {
		p {
			width: 48%;
			&:nth-child(2n+1) {
				float: left;
			}
			&:nth-child(2n+2) {
				float: right;
			}
		}
	}
	.half-title {
		width: 100%;
		display: inline-block;
	}
	.mob-title {
		display: none;
	}
	.half {
		width: 48%;
		display: inline-block;
		&:nth-child(n+2) {
			float: left;
		}
		&:nth-child(2n+2) {
			float: right;
		}
	}
	.client-case {
		position: relative;
		padding: 120px 60px;
		.quote {
			font-size: 2.2rem;
		}
	}
	.item {
		p {
			font-size: 1.2rem;
		}
	}
	.case-study-info {
		margin: 26px 0 140px;
		padding: 0;
		.contrib, .case-about, .title {
			padding: 0;
		}
		.title {
			margin: 0 0 90px 0.8%;
		}
		.section-div {
			margin-bottom: 65px;
			margin-left: 3px;
		}
		h2 {
			font-size: 4.8rem;
			line-height: 1.1;
			margin: 0;
		}
		.contrib {
			width: 26.2%;
			margin-left: 15px;
			clear: left;
			margin-bottom: 0;
			display: block;
			p {
				font-size: 1rem;
				margin-bottom: 7px;
			}
			a {
				color: $brand-primary;
				@include transition(color, 0.25s);
				&:hover {
					color: $gray-base;
				}
			}
		}
		.contrib-mob {
			display: none;
		}
		.case-about {
			margin-top: -3px;
			margin-bottom: 0;
			padding: 0 35px 0 0;
			max-width: 530px;
			p {
				line-height: 1.7;
				margin-bottom: 23px;
			}
		}
	}
}

.pagination {
	.pag {
		margin-right: -3px;
		a.page-numbers {
			@include transition(color, 0.25s);
			&:hover {
				color: $brand-primary;
			}
		}
	}
	.page-con {
		height: 73px;

		margin: 15px 0 32px;
		.prev, .next {
			background: $brand-secondary;
			p {
				@include transition(all, 0.25s);
				font-size: 2.2rem;
				letter-spacing: -0.7px;
				color: $brand-primary;
				background-color: $brand-secondary;
				&:hover {
					color: $brand-secondary;
					background-color: $brand-primary;
				}
			}
		}
		.prev {
			padding-right: 18px;
			p {
				padding: 19px 0 0 0;
				&:hover {
					padding: 19px 0 0 35px;
				}
			}
		}
		.next {
			padding-left: 18px;
			p {
				padding: 19px 0 0px 0;
				&:hover {
					padding: 19px 35px 0px 0;
				}
			}
		}
	}
	.thumbnail-con {
		.full {
			width: 100%;
			float: left;
		}
		.title {
			top: 18px;
			left: 18px;
			font-size: 2rem;
		}
		a {
			width: 47.9%;

			margin: 1.7% 0;

			float: left;
			background-color: transparent;

		}
		a.half-pag {
			float: left;
			&:nth-of-type(2n+2) {
				float: right;
			}
		}
		.hover {
			@include cover(0px, $brand-primary);
			opacity: 0;
		}
	}
	.pager-mob-hide {
		display: block;
	}
}

.client-con {
	width: 74%;
	margin: 67px 0px 188px;
	float: right;
	.quote {
		font-size: 2.8rem;
		letter-spacing: 0.1px;
		line-height: 1.65;
		margin-bottom: 30px;
		max-width: 760px;
	}
	.client {
		font-size: 1.4rem;
	}
}

.our-story {
	.dynamic {
		display: block;
		opacity: 0;
		z-index: -100;
	}
	.story-image {
		width: 50%;
		height: 100%;

		position: relative;
		float: right;
		text-align: left;
		margin: -3% 0 8%;
		display: block;
		.tree-trans {
			position: absolute;
			@include transition(opacity, 0.5s);
			opacity: 1;
			&.hide-tree {
				opacity: 0;
			}
		}
		.tree1 {
			width: 46.4%;
			bottom: 11%;
			left: 5.5%;
		}
		.tree2 {
			width: 23%;
			right: 8%;
			bottom: 43.8%;
		}
	}

	.story-inside {
		width: 47.9%;
		&:last-child {
			padding-right: 0;
			padding-left: 35px;
		}
		&:nth-child(2n+1) {
			position: relative;
			opacity: 1;
			float: right;
		}
	}
	p {
		margin-bottom: 25px;
		letter-spacing: -0.3px;
		max-width: 530px;
	}
	.more {
		display: none;
	}
}

.image-contact-mob {
	width: 108%;
	margin-left: -50px;
}

.contact {
	margin-bottom: 0px;
	h3 {
		margin-bottom: 70px;
	}
	.contact-link {
		font-size: 1.9rem;
	}
	.col-1-contact, .col-2-contact, .col-1-address, .col-2-address {
		display: block;
		clear: none;
		width: 48%;
	}
	.col-1-contact, .col-2-contact {
		margin-bottom: 60px;
	}
	.col-1-address, .col-2-address {
		p {
			font-size: 1.2rem;

		}
	}
	.col-2-contact, .col-2-address {
		float: right;
	}
	.col-1-address {
		clear: left;
		p {
			width: 250px;
		}
	}
	.col-2-address p {
		width: 190px;
	}
}

.copy-con{
	height: 327px;
	&.wrapper {
		padding: 20px;
	}
	p {
		letter-spacing: 0.62px;
		font-size: 1.2rem;
		span {
			font-size: 2rem;
		}
	}
}

#maps-container {
	height: 450px;
}