.wrapper {
	padding: 70px 70px 30px 70px;
}

.header {

	.line-con {
		&.float {
			padding: 0 70px;
			top: 80px
		}
	}

	.tab-link {
		display: block;
		top: 20px;
		right: 166px;
	}

	.hide-2 {
		height: 85px;
	}
}

.nav {
	&.open {
		height: 80px;
		padding: 30px 70px;
		height: 80px;
	}
}

.head {
	#lineSmall.float {
		top: 80px;
	}
}

.case-study {
	.client-case {
		padding: 270px 80px;
		margin-bottom: 67px;
		z-index: 10;
		.page--float {
			z-index: -1;
		}
		.client, .quote {
			max-width: 960px;
			margin: auto;
		}
		.quote {
			font-size: 3rem;
			line-height: 1.6;
			letter-spacing: 0.3px;
			margin-bottom: 32px;
		}
		.client {
			font-size: 1.4rem;
		}
	}

}

.home-section {
	.hero-gallery {
		left: -72px;
		width: 80%;
	}
	.rec-light {
		height: 150px;
	}
	h2 {
		font-size: 6.2rem;
	}
	.h2-2 {
		right: 8px;
	}
	.h2-3Con {
		width: 80%;
		margin-left: -70px;
	}
	.sub-text.active {
		@include transition(all, 0.25s);
		margin-left: -70px;
		width: 79.7%;
		padding: 20px 0 20px 70px;
		&:hover {
			background-color: $brand-primary;
			p {
				color: #FFF;
			}
		}
	}
}

.pagination {
	.page-con {
		.prev {
			padding-right: 2.04%;
		}
		.next {
			padding-left: 2.04%;
		}

	}

	.thumbnail-con {
		a {
			margin: 1.7% 0;
		}
	}
}

.image-contact-mob {
	display: none;
}

.contact {
	.contact-image {
		display: block;
		top: -223px;
		right: -68px;
		width: 75%;
		margin-bottom: -223px;
		padding: 0;
		float: right;
	}
	.col-1-contact, .col-2-contact, .col-1-address, .col-2-address {
		width: 25.4%;
		float: left;
	}
	.col-1-address {
		p {
			width: 220px;
		}
	}
	.col-2-address, .col-2-contact {
		margin-left: 4px;
	}
}

.copy-con{
	&.wrapper {
		padding: 40px 70px;
	}
}
